/* CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom variables */
:root {
    --bg-color: #eee;
}

body {
    background-color: var(--bg-color);
}

h1 {
    text-align: center;
    margin-top: 5em;
}

form {
    margin: 1em auto 0;
    width: 15em;

    label {
        display: block;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        margin-bottom: 1em;
        padding: 0.3em;
        width: 18em;
    }

    input[type="submit"] {
        width: 18em;
        padding: 0.4em;
    }
}

p {
	margin-top: 2em;
	text-align: center;
	font-size: 0.9em;
}