<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>Legend</title>
</head>
<body>
    <main>
        <img src="../static/img/logo.png" alt="Legend">
        <h1>Log in</h1>
        <form method="POST" action="/profiel">
            <label for="gebruikersnaam">Gebruikersnaam</label>
            <input type="text" name="username" id="gebruikersnaam" required>
            <label for="wachtwoord">Wachtwoord</label>
            <input type="password" name="password" id="wachtwoord" required>
            <input type="submit" value="Log in">
        </form> 
        <p>Nog geen account? <a href="./registreer.html">Meld je aan!</a></p>
    </main>
</body>
</html>