<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Legend - Inloggen</title>
</head>
<body>
    <main>
        <h1>Log in</h1>
        <% if(typeof errorMessage !== "undefined" && errorMessage) { %>
            <p><%= errorMessage %></p>
        <% } %>
        <form method="POST" action="/profiel">
            <label for="gebruikersnaam">Gebruikersnaam</label>
            <input type="text" name="username" id="gebruikersnaam" required>
            <label for="wachtwoord">Wachtwoord</label>
            <input type="password" name="password" id="wachtwoord" required>
            <input type="submit" value="Log in">
        </form>
        <p>Nog geen account? <a href="registreren">Meld je aan!</a></p>
    </main>
</body>
</html>