<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>Legend - Registreren</title>
</head>
<body>
    <main>
        <img src="" alt="Legend">
        <h1>Registreren</h1>
        <form method="POST">
            <label for="gebruikersnaam">Gebruikersnaam</label>
            <input type="text" name="gebruikersnaam" id="gebruikersnaam" required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <label for="wachtwoord">Wachtwoord</label>
            <input type="password" name="wachtwoord" id="wachtwoord" required>
            <input type="submit" value="Meld je aan">
        </form> 
        <p>Heb je al een account? <a href="./index.html">Log in!</a></p>
    </main>
</body>
</html>